#sirtetris,
#tashumimaru {
display: block;
margin: 0px auto;
}
#sirtetris {
margin-top: 100px;
}
#sirtetris #bg_rect {
fill-opacity: 0;
}
#sirtetris path:not(#bg_rect),
#tashumimaru path {
fill: #006378;
fill-opacity: 1;
stroke: none;
}
#tashumimaru g[id$="_overlay"] {
opacity: 0;
display: block;
}
#tashumimaru g[id$="_overlay"]:hover {
opacity: 1;
}
#tashumimaru g[id$="_overlay"] path {
fill: #414141;
}
#tashumimaru rect[id$="_bg"] {
fill: #a4a4a4;
fill-opacity: 0.6;
}
svg a {
outline: none;
}
