<!-- custom -->
<div class="innercontent_b">
<h1><a href="?a={{ eid }}">{{ headline }}</a></h1>
{% if image|length > 0 %}
<div class="imgfloat{{ image_side }}">
<img src="static/img/blog/{{ image  }}">
{% if image_sources|length > 0 %}
<div class="imgsrc"><p>{% for source in image_sources %}{% if loop.index > 1 %},&nbsp;{% endif %}<a href="{{ source }}">source</a>{% endfor %}</p></div>
{% endif %}
</div>
{% endif %}
<div> <!-- this empty div + empty line makes markdown work for entries w/o image. not a fucking clue why -->

</div>
{{ text|safe }}
<div class="footline">
<div class="tags"><p><strong>tags: {% for t in tags %}<a href="?t={{ t }}">{{ t }}</a> {% endfor %}</strong></p></div>
<div class="date"><p>{{ date }}</p></div>
</div>
</div>
