{% extends "base.html" %}
{% block subtitle %}{{ subtitle }}{% endblock %}

{% block content %}
<div id="floatbox_b">
    {% for item in fill %}
        {% if '<!-- custom -->' in item %}
            {{ item }}
        {% else %}
            <div class="innercontent_b">{{ item }}</div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<a href="https://webring.xxiivv.com/#random" target="_blank"><img src="https://webring.xxiivv.com/icon.black.svg" style="display: block; margin: auto; width: 30px; height: 30px;"/></a>
{% endblock %}
